<%- include("./partials/Header") %>

<div class="w-full h-screen m-0 p-0 flex">
    <div class="w-full md:w-3/4 xl:w-1/2 m-auto p-4 border rounded-md">
        <h1 class="text-xl text-center font-semibold">Todo List</h1>
        <div class="mt-2">
            <div class="flex gap-4">
                <input type="text" id="task" class="w-3/5 border p-1 px-2 rounded" placeholder="Enter Task">
                <select name="task-priority" id="task-priority" class="w-1/5 border p-1 rounded">
                    <option value="0" selected disabled>Set Priority</option>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
                <button id="add-btn" class="w-1/5 bg-slate-700 text-white p-1 rounded ">Add</button>
            </div>
        </div>
        <hr class="my-3 border"> 
        <div class="">
            <h1 class="text-center">Tasks List</h1>
            <div id="task-list" class="mt-2">
                <% if(tasks.length > 0){ %>
                    <% tasks.forEach((task)=>{%>
                        <div class="p-2 px-4 my-1 rounded border">
                            <h1 class="text-lg font-medium"><%= task.taskName %></h1>
                            <div class="mt-2 flex justify-between items-center">
                                <h1 class="text-sm">Task Priority : <span class="italic capitalize font-bold"><%= task.taskPriority %></span></h1>
                                <hr>
                                <div class="flex gap-2">
                                    
                                    <!-- <button class="text-sm bg-green-600 text-white p-1 px-2 rounded">Complete Task</button> -->
                                    <button id="delete-btn" class="text-sm bg-red-500 text-white p-1 px-2 rounded" data-task-id="<%= task.id %>">Delete Task</button>
                                </div>
                            </div>
                        </div>
                    <%})%>
                <% }else{ %>
                    <p class="text-center text-slate-400 italic">No tasks</p>
                <% }%>
            </div>
        </div> 
    </div>
</div>

<%- include("./partials/Footer") %>

<script>

    let tasks = []

    $("#add-btn").on('click',()=>{
        let task = $("#task").val()
        let priority = $("#task-priority").val()

        if(!task || !priority){
            alert('Enter all inputs')
            return
        }

        let AjaxObj = {
            type : "POST",
            url : "/tasks/add-new-task",
            contentType : "application/JSON",
            data : JSON.stringify({
                name : task,
                priority : priority
            }),
            dataType : "JSON"
        }

        ajaxApi(AjaxObj).then(res => {
            console.log(res)
            DisplayTasks(res.tasks)

            $("#task").val('')
            $("#task-priority").val($("#task-priority option:first").val())        
        }).catch(err => {
            console.log(err)
        })
            
    })

    $(document).on("click", "#delete-btn", function() {
        let taskId = $(this).data("task-id")
        console.log(taskId)
        let AjaxObj = {
            type : "POST",
            url : "/tasks/delete-task",
            contentType : "application/JSON",
            data : JSON.stringify({
                taskId : taskId,
            }),
            dataType : "JSON"
        }

        ajaxApi(AjaxObj).then(res => {
            console.log(res)
            DisplayTasks(res.tasks)
        }).catch(err => {
            console.log(err)
        })
    })

    let DisplayTasks = (tasks) => {
        $("#task-list").empty()

        if(tasks.length > 0){
            tasks.forEach((task, idx) => {
                let taskCard = `
                    <div class="p-2 px-4 my-1 rounded border">
                        <h1 class="text-lg font-medium">${task.taskName}</h1>
                        <div class="mt-2 flex justify-between items-center">
                            <h1 class="text-sm">Task Priority : <span class="italic capitalize font-bold">${task.taskPriority}</span></h1>
                            <hr>
                            <div class="flex gap-2">
                                
                                <!-- <button class="text-sm bg-green-600 text-white p-1 px-2 rounded">Complete Task</button> -->
                                <button id="delete-btn" class="text-sm bg-red-500 text-white p-1 px-2 rounded" data-task-id="${task._id}">Delete Task</button>
                            </div>
                        </div>
                    </div>
                `
                $("#task-list").append(taskCard)

            })
        }else{
            $("#task-list").append(`<p class="text-center text-slate-400 italic">No tasks</p>`)
        }
    }

</script>